<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz Application</title>
</head>
<body>
    <div class="container">
        <h1>Admin Login</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p> {{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="quiz-form" action="/admin/login" method="post">
            <label >Username :</label>
            <input type="text" name="username" required><br>
            <label >Password :</label>
            <input type="password" name="password" required><br>
            <button type="submit" value="login">Login</button>
        </form>
        <a class="btn" href="/admin/register">Create Account</a>
        <a class="btn" href="/">Back to Home</a>
        <!-- <a href="/admin/dashboard">DashBoard</a> -->
    </div>
</body>
</html>