<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz Application</title>
</head>
<body >
    <div class="container" style="background-image: url('/static/images/bg.jpg');background-repeat: no-repeat;background-attachment: fixed; background-size: 98% 80%; ">
        <h1>Welcome to the Quiz!</h1>
        <br><br>
        <a class="btn index" href="participant/login">Start Quiz</a>
        <a class="btn index" href="admin/login">Admin Login</a>
        
    </div>
</body>
</html>